*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
.navbar-style{
    background-color: rgba(16, 182, 38, 0.603) !important;
}
.green{
color:green
}
.red{
 color: red;
}